<template>
  <div class="page-<%= selectorName %>">
    Page <%= selectorName %> is work.
  </div>
</template>

<script lang="ts">
import {<%= className %>Page} from './name';

export default <%= className %>Page;
</script>

<style lang="scss">
@import "./name";
</style>
